<div class="login-container">
  <div>
    <h2>Login</h2>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="example-container">
      <mat-form-field class="form-field">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" formControlName="username" />
        @if (loginForm.get('username')?.invalid) {
        <mat-error>{{ getErrorMessage('username') }}</mat-error>
        }
      </mat-form-field>
      <br />
      <mat-form-field class="form-field">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Password" formControlName="password" />
        @if (loginForm.get('password')?.invalid) {
        <mat-error>{{ getErrorMessage('password') }}</mat-error>
        }
      </mat-form-field>
    </div>
    <br />
    <button mat-raised-button type="submit">Login</button>
  </form>
  <a routerLink="/register">Go to register</a>
</div>
